@font-face {
  font-family: "ComicFont";
  src: url("fonts/acmeBold.ttf") format("truetype");
}

@font-face {
  font-family: "SayajinFont";
  src: url("fonts/Saiyan-Sans.ttf") format("opentype");
}

body{
   margin: 0;
  padding: 0;
  overflow-x: hidden;
}
.container h1 {
  background-color: #01B9B7;
  text-align: center;
}


h5 {
  font-family: "SayajinFont";
  font-size: 40px;
  color: #fff100;
  -webkit-text-stroke: 2px black;
}

p {
  font-family: "ComicFont";
  font-size: 20px;
}

.navbar .nav-link {
  font-family: "SayajinFont";
  font-size: 40px;
  background: linear-gradient(180deg, #fff100, #be8e21);
  background-clip: text;
  -webkit-text-fill-color: transparent;
  -webkit-text-stroke: 1px black;
}

.navbar .nav-link:hover {
  background: linear-gradient(180deg, #EC2324, #8F191E);
  background-clip: text;
  -webkit-text-fill-color: transparent;
}

.navbar .nav-link.active {

  color: #fff100;
  -webkit-text-stroke: 1px black;
}

.container-fluid {
  border-radius: 5%;
  background-color: #01B9B7;
}

.carousel-item.active .carousel-caption {
  bottom: 60%;
}

.carousel-item:nth-child(2) .carousel-caption {
  bottom: 40px;
}

.contenedor-mixto {
  border: solid black;
  gap: 50px;
  padding: 50px;
  margin: auto;
  margin-top: 30px;
  width: 1000px;
  max-width: 100%;
}

h3 {
  margin-bottom: 40px;
}

.card {
  border: solid black;
  gap: 50px;
  padding: 50px;
  margin: auto;
  margin-top: 30px;
  width: 1000px;
  max-width: 100%;
}

.card-title {
  margin-bottom: 40px;
}

.box-texto {
  border: solid black;
  padding: 50px;
  margin-top: 80px;
  width: 600px;
  max-width: 100%;
}

.pantallas {
  margin-top: 80px;
  padding-left: 130px;
}

footer {
  background-color: #01B9B7;
  margin: 0;
  padding: 0;
  width: 100%;
  overflow: hidden;
}

footer h5 {
  text-align: center;
}

.button {
  border: solid black;
  border-radius: 20%;
}

.boton-aventura {
  background-color: white;
  border: 3px solid black;
  font-family: "SayajinFont";
  font-size: 40px;
  background: linear-gradient(180deg, #fff100, #be8e21);
  background-clip: text;
  -webkit-text-fill-color: transparent;
  -webkit-text-stroke: 1px black;
  margin-bottom: 20px;
}

.modal-footer{
  background-color: #01B9B7;
  
}

.modal-header{
  background-color: #01B9B7;
}

.contenedor-aventura {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
}